.custom-page-banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -300px;
}

.author-wrapper {
    display: flex;
    justify-content: flex-start;

    .author-inner {
        z-index: 100;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .user-thumbnail {
            display: flex;
            justify-content: center;
            border-radius: 5px;
            position: relative;
            max-width: 170px;
            margin: auto;

            .user-img {
                height: 140px;
                width: 140px;
                object-fit: cover;
            }
        }

        .rn-author-info-content-custom {
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: left;
            // margin-left: 20px;

            h4 {
                &.title {
                    font-size: 36px;
                    font-weight: 600;
                    margin-bottom: 1px;
                    color: #fff;
                }
            }

            p {
                color: #fff;
            }

            .social-follw {
                display: flex;
                justify-content: center;
                margin-bottom: 7px;

                svg,
                i {
                    margin-right: 10px;
                    width: 14px;
                    font-size: 14px;
                    line-height: 1.8;
                    color: var(--color-primary);
                }

                .user-name {
                    position: relative;
                    margin-top: 2px;
                    color: #fff !important;
                }
            }

            .follow-area {
                display: flex;
                justify-content: center;

                .follow {
                    &.followers {
                        margin-right: 15px;
                    }

                    span {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 500;

                        a {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }
}

.short-title {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    min-width: 180px !important;
}

