.custom-page-banner {
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: -300px;
}

.custom-btn-primary-alta {
    background: #212e48 !important;
    color: var(--color-white);
    transition: all 0.2s ease !important;
}
.custom-btn-primary-alta:hover {
    background: #2b7ec1 !important;
}

.custom-btn-primary-verify {
    background: #2b7ec1 !important;
    color: var(--color-white);
    transition: 5s !important;
    width: auto !important;
}
.custom-btn-primary-verify:hover {
    background: linear-gradient(
        90deg,
        #2b7ec1,
        #3f9eeb 88%,
        #3197eb
    ) !important;
}

.author-wrapper {
    display: flex;
    justify-content: flex-start;

    .author-inner {
        z-index: 100;
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: center;

        .user-thumbnail {
            display: flex;
            justify-content: center;
            border-radius: 5px;
            position: relative;
            max-width: 170px;
            margin: auto;

            .user-img {
                height: 140px;
                width: 140px;
                object-fit: cover;
            }
        }

        .rn-author-info-content-custom {
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            // margin-left: 20px;

            h4 {
                &.title {
                    font-size: 36px;
                    font-weight: 600;
                    margin-bottom: 1px;
                    color: #fff;
                }
            }

            p {
                color: #fff;
            }

            .social-follw {
                display: flex;
                justify-content: center;
                margin-bottom: 7px;

                svg,
                i {
                    margin-right: 10px;
                    width: 14px;
                    font-size: 14px;
                    line-height: 1.8;
                    color: var(--color-primary);
                }

                .user-name {
                    position: relative;
                    margin-top: 2px;
                    color: #fff !important;
                }
            }

            .follow-area {
                display: flex;
                justify-content: center;

                .follow {
                    &.followers {
                        margin-right: 15px;
                    }

                    span {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 500;

                        a {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }

        .rn-author-info-content-custom-two {
            justify-content: center;
            display: flex;
            flex-direction: column;
            text-align: center;
            // margin-left: 20px;

            h4 {
                &.title {
                    font-size: 36px;
                    font-weight: 600;
                    margin-bottom: 1px;
                    color: #fff;
                }
            }

            p {
                color: #fff;
            }

            .social-follw {
                display: flex;
                justify-content: center;
                margin-bottom: 7px;

                svg,
                i {
                    margin-right: 10px;
                    width: 14px;
                    font-size: 14px;
                    line-height: 1.8;
                    color: var(--color-primary);
                }

                .user-name {
                    position: relative;
                    margin-top: 2px;
                    color: #fff !important;
                }
            }

            .follow-area {
                display: flex;
                justify-content: center;

                .follow {
                    &.followers {
                        margin-right: 15px;
                    }

                    span {
                        color: var(--color-white);
                        font-size: 16px;
                        font-weight: 500;

                        a {
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }
}

.short-title {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 2 !important;
    -webkit-box-orient: vertical !important;
    min-width: 180px !important;
}

.short-title-features {
    overflow: hidden !important;
    display: -webkit-box !important;
    -webkit-line-clamp: 3 !important;
    -webkit-box-orient: vertical !important;
    min-width: 180px !important;
}

.work-card {
    margin-bottom: 30px;
    position: relative;
    transition: all 0.6s ease;

    &::before {
        content: "";
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        position: absolute;
        border-radius: 8px;
        transition: all 0.6s ease;
        z-index: 1;
    }

    &:hover::before {
        background-color: rgba(0, 0, 0, 0.8);
    }

    img {
        border-radius: 8px;
        width: 100%;
    }

    .content {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        padding: 30px;
        transition: all 0.6s ease;
        z-index: 5;

        span {
            display: block;
            margin-bottom: 10px;

            a {
                color: #c6c9d8;
            }
        }

        h3 {
            font-size: 24px;
            line-height: 1.4;
        }

        .custom-btn {
            margin-top: 20px;
        }

        a {
            color: #ffffff;
        }
    }

    &:hover {
        .content {
            bottom: 20px;
        }
    }
}

.contact-cta-box-short {
    margin: 80px auto 0;
    max-width: 380px;
    border: 1px dashed #ebebeb;
    padding: 30px 210px 30px 30px;
    border-radius: 5px;
    position: relative;
    background-color: transparent;
}

.spacing {
    width: 100%;
    margin-top: 30px;
}

.contact-cta-box-short h3 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 6px;
}

.contact-cta-box-short p {
    margin-bottom: 0;
}

.contact-cta-box-short .btn {
    position: absolute;
    right: 30px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.custom-heading {
    font-size: 40px;
    font-weight: 300;
}

@media (max-width: 767px) {
    .custom-heading {
        font-size: 20px;
    }
}

// @media (max-width: 767px) {
//     .author-wrapper {
//         display: flex;
//         justify-content: flex-start;

//         .author-inner {
//             z-index: 100;
//             position: absolute;
//             top: 2%;
//             left: 0%;

//             .rn-author-info-content-custom-two {
//                 h4 {
//                     &.title {
//                         font-size: 14px;
//                         font-weight: 600;
//                         margin-bottom: 1px;
//                         color: #b91515;
//                     }
//                 }

//                 p {
//                     color: #fff;
//                 }

//                 .social-follw {
//                     display: flex;
//                     justify-content: center;
//                     margin-bottom: 7px;

//                     svg,
//                     i {
//                         margin-right: 10px;
//                         width: 14px;
//                         font-size: 14px;
//                         line-height: 1.8;
//                         color: var(--color-primary);
//                     }

//                     .user-name {
//                         position: relative;
//                         margin-top: 2px;
//                         color: #fff !important;
//                     }
//                 }

//                 .follow-area {
//                     display: flex;
//                     justify-content: center;

//                     .follow {
//                         &.followers {
//                             margin-right: 15px;
//                         }

//                         span {
//                             color: var(--color-white);
//                             font-size: 16px;
//                             font-weight: 500;

//                             a {
//                                 margin-left: 3px;
//                             }
//                         }
//                     }
//                 }
//             }
//         }
//     }
// }

.form-control {
    height: 55px;
    padding: 15px 20px;
    font-size: 14px;
    color: #f5f8fa;
    border: 1px solid #eee;
    border-radius: 6px;
    background: #eee;
    -webkit-transition: all 0.6s ease;
    transition: all 0.6s ease;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

.rn-about-wrapper-custom {
    padding: 15px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
}

.rn-about-wrapper-custom {
    border: none;
    // background: var(--color-white);
}

@media (max-width: 991px) {
    .custom-order-flexbox-2 {
        order: 2;
        padding-top: 20px;
    }
}

@media (max-width: 991px) {
    .custom-order-flexbox-1 {
        padding-top: 20px;
    }
}

